[Unit]
Description=Inotify Monitor for /tmp Directory
# After=network.target

[Service]
ExecStart=/home/saltchicken/github/tmp_monitor/inotify_tmp_monitor.sh
Restart=always
User=root
StandardOutput=null

[Install]
WantedBy=multi-user.target
